@page "/getintouch"
@model ContactModel

<div class="text-center border my-3 p-5 rounded">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa-solid fa-phone text-white bg-secondary p-3 rounded my-3"></i>
        <p>ALO 120 BTK Akademi bilgi ve destek hattı</p>

        <i class="fa-solid fa-location-dot text-white bg-secondary p-3 rounded my-3"></i>
        <p>
            Bilgi Teknolojileri ve İletişim Kurumu Eskişehir Yolu 10.Km
            No: 276 Posta Kodu: 06530 Çankaya/Ankara
        </p>

        <i class="fa-solid fa-envelope text-white bg-secondary p-3 rounded my-3"></i>
        <p><a href="mailto:destek@btkakademi.gov.tr" class="text-decoration-none text-dark">destek@btkakademi.gov.tr</a></p>
    </div>
</div>
